@using StudentApp.ViewModels.Statistics

@{
    ViewBag.Title = "Analytiques";
    ViewBag.pTitle = "Analytiques";
    ViewBag.pageTitle = "LYTRACK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AnalyticsVM

@section styles{
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-xxl-5">
        <div class="d-flex flex-column h-100">

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="fw-medium text-muted mb-0">Étudiants</p>
                                    <h2 class="mt-4 ff-secondary fw-semibold">
                                        <span class="counter-value" data-target="@Model.TotalStudents">0</span>
                                    </h2>
                                    <p class="mb-0 text-muted">
                                        <span class="badge bg-light text-success mb-0">
                                            <i class="ri-arrow-up-line align-middle"></i> 16.24 %
                                        </span> par rapport au mois précédent
                                    </p>
                                </div>
                                <div>
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                            <i data-feather="users" class="text-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-md-6">
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="fw-medium text-muted mb-0">Éditeurs</p>
                                    <h2 class="mt-4 ff-secondary fw-semibold">
                                        <span class="counter-value" data-target="@Model.TotalPublishers">0</span>
                                    </h2>
                                    <p class="mb-0 text-muted">
                                        <span class="badge bg-light text-danger mb-0">
                                            <i class="ri-arrow-down-line align-middle"></i> 3.96 %
                                        </span> par rapport au mois précédent
                                    </p>
                                </div>
                                <div>
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                            <i data-feather="book" class="text-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="fw-medium text-muted mb-0">Annonces actives</p>
                                    <h2 class="mt-4 ff-secondary fw-semibold">
                                        <span class="counter-value" data-target="@Model.totalActiveAds">0</span>
                                    </h2>
                                    <p class="mb-0 text-muted">
                                        <span class="badge bg-light text-danger mb-0">
                                            <i class="ri-arrow-down-line align-middle"></i> 0.24 %
                                        </span> par rapport au mois précédent
                                    </p>
                                </div>
                                <div>
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                            <i data-feather="tag" class="text-info"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-md-6">
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="fw-medium text-muted mb-0">Abonnements</p>
                                    <h2 class="mt-4 ff-secondary fw-semibold">
                                        <span class="counter-value" data-target="@Model.TotalAbonneent">0</span>
                                    </h2>
                                    <p class="mb-0 text-muted">
                                        <span class="badge bg-light text-success mb-0">
                                            <i class="ri-arrow-up-line align-middle"></i> 7.05 %
                                        </span> par rapport au mois précédent
                                    </p>
                                </div>
                                <div>
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                            <i data-feather="user-check" class="text-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row-->
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-7">
        <div class="row h-100">

        
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header border-0 align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Audiences Metrics</h4>
                    </div><!-- end card header -->
                    <div class="card-header p-0 border-0 bg-light-subtle">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="854">0</span>
                                        <span class="text-success ms-1 fs-12">
                                            49%<i class="ri-arrow-right-up-line ms-1 align-middle"></i>
                                        </span>
                                    </h5>
                                    <p class="text-muted mb-0">Avg. Session</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="1278">0</span>
                                        <span class="text-success ms-1 fs-12">
                                            60%<i class="ri-arrow-right-up-line ms-1 align-middle"></i>
                                        </span>
                                    </h5>
                                    <p class="text-muted mb-0">Conversion Rate</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0 border-end-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="3">0</span>m
                                        <span class="counter-value" data-target="40">0</span>sec
                                        <span class="text-success ms-1 fs-12">
                                            37%<i class="ri-arrow-right-up-line ms-1 align-middle"></i>
                                        </span>
                                    </h5>
                                    <p class="text-muted mb-0">Avg. Session Duration</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body p-0 pb-2">
                        <div>
                            <div id="audiences_metrics_charts"
                                    data-colors='["--vz-success", "--vz-gray-300"]' class="apex-charts"
                                    dir="ltr"></div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
   


            <div class="col-xl-6">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Abonnement par Ligne</h4>
                    </div>
                    <div class="card-body p-0">
                        <div>
                            <div id="countries_charts"
                                 data-colors='["--vz-info", "--vz-info", "--vz-info", "--vz-info", "--vz-danger", "--vz-info", "--vz-info", "--vz-info", "--vz-info", "--vz-info"]'
                                 class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div> <!-- end col-->

        </div> <!-- end row-->
    </div><!-- end col -->
</div> <!-- end row-->



<div class="row">
    <div class="col-xl-4">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Utilisateurs par appareil</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted fs-16">
                                <i class="mdi mdi-dots-vertical align-middle"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Last Week</a>
                            <a class="dropdown-item" href="#">Last Month</a>
                            <a class="dropdown-item" href="#">Current Year</a>
                        </div>
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="user_device_pie_charts"
                     data-colors='["--vz-primary", "--vz-warning", "--vz-info"]' class="apex-charts"
                     dir="ltr"></div>

                <div class="table-responsive mt-3">
                    <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-0">
                        <tbody class="border-0">
                            <tr>
                                <td>
                                    <h4 class="text-truncate fs-14 fs-medium mb-0">
                                        <i class="ri-stop-fill align-middle fs-18 text-primary me-2"></i>Android
                                        Users
                                    </h4>
                                </td>
                                <td>
                                    <p class="text-muted mb-0">
                                        <i data-feather="users"
                                           class="me-2 icon-sm"></i><span id="Androiduser"></span>
                                    </p>
                                </td>
                                <td class="text-end">
                                    <p class="text-success fw-medium fs-12 mb-0">
                                        </i><span id="AndroidPercentage"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="text-truncate fs-14 fs-medium mb-0">
                                        <i class="ri-stop-fill align-middle fs-18 text-warning me-2"></i>ios
                                        Users
                                    </h4>
                                </td>
                                <td>
                                    <p class="text-muted mb-0">
                                        <i data-feather="users"
                                           class="me-2 icon-sm"></i><span id="iosuser"></span>
                                    </p>
                                </td>
                                <td class="text-end">
                                    <p class="text-success fw-medium fs-12 mb-0">
                                        </i><span id="iOSPercentage"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="text-truncate fs-14 fs-medium mb-0">
                                        <i class="ri-stop-fill align-middle fs-18 text-info me-2"></i>Windows
                                        Users
                                    </h4>
                                </td>
                                <td>
                                    <p class="text-muted mb-0">
                                        <i data-feather="users"
                                           class="me-2 icon-sm"></i><span id="windowsuser"></span>
                                    </p>
                                </td>
                                <td class="text-end">
                                    <p class="text-success fw-medium fs-12 mb-0">
                                        <span id="WindowsPercentage"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

  

    <div class="col-xl-4 col-md-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Informations sur les Quartiers</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted fs-16">
                                <i class="mdi mdi-dots-vertical align-middle"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Last Week</a>
                            <a class="dropdown-item" href="#">Last Month</a>
                            <a class="dropdown-item" href="#">Current Year</a>
                        </div>
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table align-middle table-borderless table-centered table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" style="width: 62;">Quartier</th>
                                <th scope="col">Nombre d'étudiants</th>
                                <th scope="col">Pourcentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entry in Model.StudentsByQuartier)
                            {
                                <tr>
                                    <td>@entry.Key</td>
                                    <td>@entry.Value</td>
                                    <td>@Model.QuartierPercentages[entry.Key] %</td>
                                </tr>
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                </div><!-- end -->
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- Dashboard init -->
    <script src="~/assets/js/pages/dashboard-analytics.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}