@using StudentApp.ViewModels
@{
    ViewBag.Title = "Campagnes publicitaires";
    Layout = null;
}

@model IList<Campaign>
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")

    <!-- swiper css -->
    <link rel="stylesheet" href="~/assets/libs/swiper/swiper-bundle.min.css">

    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">


                <h3>Gestion des Campagnes publicitaires </h3>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            @*
                            <div class="card-header">
                                <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                            </div><!-- end card header -->
                            *@
                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <a asp-controller="Ads" asp-action="AjouterAd" class="btn btn-success add-btn" ><i class="ri-add-line align-bottom me-1"></i> Ajouter</a>
                                                @*<button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>*@
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Recherche...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap">
                                            <thead class="table-light">
                                                <tr>
                                                    
                                                    <th class="sort" data-sort="Date_debut">Date_debut</th>
                                                    <th class="sort" data-sort="Date_Fin">Date Fin</th>
                                                    <th class="sort" data-sort="Budget">Budget</th>
                                                    <th class="sort" data-sort="content_url">URL du contenu</th>
                                                    <th class="sort" data-sort=" ad_url">URL de l'annonce</th>
                                                    <th class="sort" data-sort="type">Type</th>
                                                    <th class="sort" data-sort="publisher">Éditeur</th>
                                                    <th class="sort" data-sort="age_range">Tranche d'âge</th>
                                                    <th class="sort" data-sort="Location">Localisation</th>
                                                    <th class="sort" data-sort="Location">Système</th>
                                                    <th class="sort" data-sort="action">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody class="list form-check-all">
                                                @foreach (var Ad in Model)
                                                {
                                                    <tr>
                                                        <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">@Ad.Id</a></td>
                                                        <td class="nom">@Ad.DateDebut.ToString("dd/MM/yyyy") - @Ad.DateDebut.ToString("HH:mm")</td>
                                                        <td class="prenom">@Ad.DateFin.ToString("dd/MM/yyyy") - @Ad.DateFin.ToString("HH:mm")</td>
                                                        <td class="cen">@Ad.Budget</td>
                                                        <td class="cin">@Ad.ContentUrl</td>
                                                        <td class="tel">@Ad.AdUrl</td>
                                                        <td class="adresse">@Ad.IdTypeNavigation.Libelle</td>
                                                        <td class="email">@Ad.IdPublisherNavigation.Name</td>
                                                        <td class="email">@Ad.IdAgeRangeNavigation.Min - @Ad.IdAgeRangeNavigation.Max </td>
                                                        <td class="email">@Ad.IdLocationNavigation.Libelle</td>
                                                        <td class="email">
                                                            <ul>
                                                                @foreach (var os in Ad.CampainOs)
                                                                {
                                                                    <li>@os.IdOsNavigation.Libelle</li>
                                                                }
                                                            </ul>
                                                        </td>   
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">
                                                                    <button onclick="updateAd(@Ad.Id)" class="btn btn-sm btn-success edit-item-btn"
                                                                            data-bs-toggle="modal" data-bs-target="#showModal">
                                                                        Modifier
                                                                    </button>
                                                                </div>
                                                                <div class="remove">
                                                                    <button class="btn btn-sm btn-danger remove-item-btn" onclick="removeAd(@Ad.Id)" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Supprimer</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                           colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">
                                                    We've searched more than 150+ Orders We did not find any
                                                    orders for you search.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#">
                                                précédent
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="#">
                                                Suivant
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="button" onclick="redirectto()" class="btn w-sm btn-danger" id="delete-record">Yes, Delete It!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal -->
                
            </div><!-- End Page-content -->
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/Shared/_customizer.cshtml")

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        let AdsId = 0;

        function removeAd(AdId) {

            AdsId = AdId
        }

        function redirectto() {
            window.location.href = "/Ads/removeAd/" + AdsId;
        }

    </script>


    <!-- swiper js -->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- profile init js -->
    <script src="~/assets/js/pages/profile.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- listjs init -->
    <script src="~/assets/js/pages/listjs.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script> 

 
</body>
</html>
