@using StudentApp.ViewModels
@{
    ViewBag.Title = "Éditeurs";
    Layout = null;
}

@model IList<Publisher>
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")

    <!-- swiper css -->
    <link rel="stylesheet" href="~/assets/libs/swiper/swiper-bundle.min.css">

    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">


                <h3>Gestion des Éditeurs</h3>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            @*
                            <div class="card-header">
                                <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                            </div><!-- end card header -->
                            *@
                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button onclick="Addpublisher()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Ajouter</button>
                                                @*<button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>*@
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Recherche...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="nom">Nom</th>
                                                    <th class="sort" data-sort="contact">Contact</th>
                                                    <th class="sort" data-sort="telephone">Telephone</th>
                                                    <th class="sort" data-sort="action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                @foreach (var Publisher in Model)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">@Publisher.Id</a></td>
                                                        <td class="nom">@Publisher.Name</td>
                                                        <td class="prenom">@Publisher.Contact</td>
                                                        <td class="prenom">@Publisher.Telephone</td>  
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">
                                                                    <button onclick="updatePublisher(@Publisher.Id)" class="btn btn-sm btn-success edit-item-btn"
                                                                            data-bs-toggle="modal" data-bs-target="#showModal">
                                                                        Modifier
                                                                    </button>
                                                                </div>
                                                                <div class="remove">
                                                                    <button onclick="DeletePublisher(@Publisher.Id)" class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Supprimer</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                           colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">
                                                    We've searched more than 150+ Orders We did not find any
                                                    orders for you search.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#">
                                                précédente
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="#">
                                                suivante
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        id="close-modal"></button>
                            </div>

                            <form id="PublisherForm">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <input for="PublisherId" type="hidden" id="id-field" class="form-control" placeholder="ID" readonly />
                                    </div>

                                    <div class="mb-3">
                                        <label for="Nom" class="form-label">Nom de l'éditeur</label>
                                        <input for="Nom" type="text" id="Nom-field" class="form-control" placeholder="Nom de l'éditeur" required />
                                        <span id="validationNom" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="contact" class="form-label">Contact de l'éditeur</label>
                                        <input for="contact" type="text" id="contact-field" class="form-control" placeholder="Contact de l'éditeur" required />
                                        <span id="validationContact" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Tel" class="form-label">Téléphone de l'éditeur</label>
                                        <input for="Tel" type="text" id="Tel-field" class="form-control" placeholder="Téléphone de l'éditeur" required />
                                        <span id="validationTel" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button id="submit_button" type="button" onclick="addOrEditPublisher()" class="btn btn-success">Ajouter</button>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Es-tu sûr ?</h4>
                                        <p class="text-muted mx-4 mb-0">Êtes-vous sûr de vouloir supprimer cet enregistrement ?</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Annuler</button>
                                    <button type="button" onclick="ConfirmeDeletePublisher()" class="btn w-sm btn-danger" id="delete-record">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal -->
                
            </div><!-- End Page-content -->
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/Shared/_customizer.cshtml")

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        let ModalLabel = document.getElementById("exampleModalLabel");

        // Function to fetch existing student data for editing
        function fetchPublishrData(publisherId) {
            $.ajax({
                type: 'GET',
                url: '/Publisher/GetPulisherById',
                data: { publisherId: publisherId },
                success: function (response) {
                    if (response.success) {
                        var publisher = response.publisher; // Suppose que votre réponse contient un objet 'student'
                        // Populate form fields with existing student data  
                        console.log(publisher);
                        $('#Nom-field').val(publisher.name);
                        $('#Tel-field').val(publisher.telephone);
                        $('#contact-field').val(publisher.contact);
                    } else {
                        // Afficher un message d'erreur si nécessaire
                        console.error('Error:', response.message);
                        alert('Une erreur s\'est produite lors de la récupération des données de l\'étudiant');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Une erreur s\'est produite lors de la récupération des données de l\'étudiant');
                }
            });
        }


        // Function to clear form fields
        function clearFormFields() {
            $('#Nom-field').val('');
            $('#Tel-field').val('');
            $('#Contact-field').val('');
        }

        // Function to add or edit a student
        function addOrEditPublisher() {
            var actionUrl = etat == true ? '/Publisher/EditPublisher' : '/Publisher/AddPublisher';
            var formData = {
                Nom: $('#Nom-field').val(),
                Tel: $('#Tel-field').val(),
                Contact : $('#contact-field').val()
            };

            if (etat) {
                formData.PublisherId = pubId;
            }


            // Clear previous validation messages
            $('.invalid-feedback').hide();
            $('.text-danger').text('');

            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        $.each(response.errors, function (index, value) {
                            switch (value) {
                                case 1:
                                    $('#validationNom').text("Name  est requis et doit contenir au moins 3 caractères, uniquement des lettres.");
                                    break;
                                case 2:
                                    $('#validationContact').text("Le Contact est requis et doit être au format valide.");
                                    break;
                                case 3:
                                    $('#validationTel').text("Le numéro de téléphone est invalide.");
                                    break;
                                default:
                                    break;
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('An error occurred while adding/editing student');
                }
            });
        }

        var etat = false;

        function updatePublisher(publisherId) {
            ModalLabel.innerHTML = "Modifier l'éditeur";
            var submit_button = document.getElementById("submit_button");
            submit_button.innerHTML = "Modifier";
            fetchPublishrData(publisherId);
            etat = true;
            pubId = publisherId;
        }

        function Addpublisher() {
            ModalLabel.innerHTML = "Ajouter un éditeur";
            etat = false;
        }

        let pubId = 0;

        function DeletePublisher(publisherId) {

            pubId = publisherId;
        }

        function ConfirmeDeletePublisher() {
            $.ajax({
                type: 'POST',
                url: "/Publisher/DeletePublisher",
                data: { publisherId: pubId },
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    }
                    else {
                        console.error('Error:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('An error occurred while adding/editing student');
                }
            });
        }

        


    </script>


    <!-- swiper js -->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- profile init js -->
    <script src="~/assets/js/pages/profile.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- listjs init -->
    <script src="~/assets/js/pages/listjs.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    

 
</body>
</html>