@using StudentApp.Models
@using StudentApp.ViewModels.Abonnement
@{
    ViewBag.Title = "Abonnements";
    Layout = null;
}

@model IList<Abonnement>
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")

    <!-- swiper css -->
    <link rel="stylesheet" href="~/assets/libs/swiper/swiper-bundle.min.css">

    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">


                <h3>Gestion des  Abonnements</h3>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            @*
                            <div class="card-header">
                            <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                            </div><!-- end card header -->
                            *@
                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button onclick="AddAbonnement()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Add</button>
                                                @*<button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>*@
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="typeabonnment">Type d'abonnement</th>
                                                    <th class="sort" data-sort="datedecreation">Date de création</th>
                                                    <th class="sort" data-sort="solde">Solde</th>
                                                    <th class="sort" data-sort="nometudiant">Nom d'etudiant</th>
                                                    <th class="sort" data-sort="lignes">Listes des lignes </th>
                                                    <th class="sort" data-sort="action">Action </th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                @foreach (var Abonnement in Model)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">@Abonnement.IdAbonnement</a></td>
                                                        <td class="typeabonnement">@Abonnement.TypeAbonnement</td>
                                                        <td class="datedecreation">@Abonnement.DateDeCreation</td>
                                                        <td class="solde">@Abonnement.Solde</td>
                                                        <td class="studentId">@Abonnement.Student?.Prenom</td>
                                                        <td class="abonnmentLignes">
                                                            <ul>
                                                                @foreach (AbonnementLigne a in Abonnement.AbonnementLignes)
                                                                {
                                                                    <li>
                                                                        @a.NumLine
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">
                                                                    <button onclick="updatePublisher(@Abonnement.IdAbonnement)" class="btn btn-sm btn-success edit-item-btn"
                                                                            data-bs-toggle="modal" data-bs-target="#showModal">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                                <div class="remove">
                                                                    <button onclick="DeletePublisher(@Abonnement.IdAbonnement)" class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Remove</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                           colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">
                                                    We've searched more than 150+ Orders We did not find any
                                                    orders for you search.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#">
                                                Previous
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="#">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        id="close-modal"></button>
                            </div>

                            <form id="AbonnementForm">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <input for="AbonnmentId" type="hidden" id="id-field" class="form-control" placeholder="ID" readonly />
                                    </div>

                                    <div class="mb-3">
                                        <label for="TypeAbonnement" class="form-label">Type d'abonnement</label>
                                        <input type="text" id="typeabonnement-field" class="form-control" placeholder="Entrer votre type d'abonnement" required>
                                        <span id="validationTypeAbonnement" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Solde" class="form-label">Solde</label>
                                        <input type="text" class="form-control" placeholder="Entrer votre solde" id="solde-field">
                                        <span id="validationSolde" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="StudentId" class="form-label">Student</label>
                                        <select id="StudentId-field" class="form-control" required>
                                            <option value="">Select a Student</option>
                                            @foreach (var student in ViewBag.Students)
                                            {
                                                <option value="@student.Value">@student.Text</option>
                                            }
                                        </select>
                                        <span id="validationStudentId" class="text-danger"></span>
                                    </div>


                                    <div class="checkbox-grid" id="linesCheckboxList">
                                        @foreach (var line in ViewBag.Lines)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="SelectedLineIds" type="checkbox" id="@("inlineCheckbox" + line.ID_Line)" value="@line.ID_Line">
                                                <input type="hidden" name="SelectedLineNums" value="@line.NumLine" />
                                                <label class="form-check-label" for="@("inlineCheckbox" + line.ID_Line)">@line.NumLine</label>
                                            </div>
                                        }
                                    </div>



                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="button" onclick="addOrEditAbonnement()" class="btn btn-success">Ajouter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="button" onclick="ConfirmeDeletePublisher()" class="btn w-sm btn-danger" id="delete-record">Yes, Delete It!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal -->

            </div><!-- End Page-content -->
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/Shared/_customizer.cshtml")

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        let ModalLabel = document.getElementById("exampleModalLabel");

        // Function to fetch existing student data for editing
        function fetchAbonnementData(abonnementId) {
            $.ajax({
                type: 'GET',
                url: '/Abonnement/GetAbonnementById',
                data: { abonnementId: abonnementId },
                success: function (response) {
                    if (response && response.success && response.abonnement) {
                        var abonnement = response.abonnement;
                        $('#typeabonnement-field').val(abonnement.TypeAbonnement);
                        $('#solde-field').val(abonnement.Solde);
                        $('#studentId-field').val(abonnement.StudentId);
                        // Vérifiez si 'response.lines' est défini avant de le parcourir
                        if (response.lines && response.lines.length > 0) {
                            response.lines.forEach(function (line) {
                                $('#inlineCheckbox' + line.ID_Line).prop('checked', true);
                            });
                        }
                    } else {
                        console.error('Error:', response ? response.message : 'Response is null or undefined');
                        alert('Une erreur s\'est produite lors de la récupération des données de l\'abonnement');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Une erreur s\'est produite lors de la récupération des données de l\'abonnement');
                }
            });
        }



        // Function to clear form fields
        function clearFormFields() {
            $('#typeabonnement-field').val('');
            $('#solde-field').val('');
            $('#studentId-field').val('');
            $('#inlineCheckbox' + line.ID_Line).val('');

        }

        function addOrEditAbonnement() {
            var actionUrl = etat ? '/Abonnement/EditAbonnement' : '/Abonnement/AddAbonnement';
            var formData = {
                TypeAbonnement: $('#typeabonnement-field').val(),
                Solde: $('#solde-field').val(),
                StudentId: $('#StudentId-field').val(),
                SelectedLineIds: [] // Initialize an empty array to store selected line IDs
            };

            // Loop through selected checkboxes and push their values to SelectedLineIds array
            $('input[name="SelectedLineIds"]:checked').each(function () {
                formData.SelectedLineIds.push($(this).val());
            });

            if (etat) {
                formData.abonnementId = $('#id-field').val();
            }

            // Clear previous validation messages
            $('.invalid-feedback').hide();
            $('.text-danger').text('');

            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        // If the operation is successful, reload the page to reflect the changes in the table
                        window.location.reload();
                    } else {
                        // If there are errors, display them to the user
                        $.each(response.errors, function (index, value) {
                            switch (value) {
                                case 1:
                                    $('#validationTypeAbonnement').text("Le type d'abonnement est requis et doit contenir au moins 3 caractères, uniquement des lettres.");
                                    break;
                                case 2:
                                    $('#validationSolde').text("Le solde est requis et doit être au format valide.");
                                    break;
                                case 3:
                                    $('#validationStudentId').text("Veuillez sélectionner un étudiant.");
                                    break;
                                default:
                                    break;
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Une erreur s\'est produite lors de l\'ajout ou de la modification de l\'abonnement.');
                }
            });
        }


        var etat = false;

        function updateAbonnement(abonnementId) {
            ModalLabel.innerHTML = "Edit Abonnement";
            var submit_button = document.getElementById("submit_button");
            submit_button.innerHTML = "Modifier";
            fetchAbonnementData(abonnementId);
            etat = true;
        }



        function AddAbonnement() {
            ModalLabel.innerHTML = "Add Abonnement";
            etat = false;
        }

        let abnnId = 0;

        function DeleteAbonnment(abonnementId) {

            abnnId = abonnementId;
        }

        function ConfirmeDeleteAbonnement() {
            $.ajax({
                type: 'POST',
                url: "/Abonnement/DeleteAbonnement",
                data: { abonnementId: abnnId },
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    }
                    else {
                        console.error('Error:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('An error occurred while adding/editing abonnement');
                }
            });
        }


        // Function to fetch lines from API and update the checkbox list
        function updateLines() {
            // Fetch lines from API
            $.ajax({
                url: "/Abonnement/FetchLinesFromAPI",
                type: "GET",
                success: function (response) {
                    if (response && response.success) {
                        // Clear previous options
                        $("#linesCheckboxList").empty();
                        // Add new options for each line
                        $.each(response.lines, function (index, line) {
                            $("#linesCheckboxList").append(
                                $("<div>").addClass("form-check form-check-inline").append(
                                    $("<input>").addClass("form-check-input").attr({
                                        type: "checkbox",
                                        id: "inlineCheckbox" + line.ID_Line,
                                        value: line.ID_Line
                                    }),
                                    $("<label>").addClass("form-check-label").attr("for", "inlineCheckbox" + line.ID_Line).text(line.NumLine)
                                )
                            );
                        });
                    } else {
                        console.error('Error:', response ? response.message : 'Response is null or undefined');
                        alert('Une erreur s\'est produite lors de la récupération des lignes.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Une erreur s\'est produite lors de la récupération des lignes.');
                }
            });
        }



    </script>


    <!-- swiper js -->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- profile init js -->
    <script src="~/assets/js/pages/profile.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- listjs init -->
    <script src="~/assets/js/pages/listjs.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>




</body>
</html>