@using StudentApp.ViewModels
@using StudentApp.ViewModels.Abonnement;
@model AddAbonnementVM
@{
    ViewBag.Title = "Formulaire d'abonnement";
    Layout = null;
}
<form id="addAbonnementForm">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <input for="IdAbonnement" type="hidden" id="id-field" class="form-control" placeholder="ID" readonly />
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="TypeAbonnement" class="form-label">Type d'abonnement</label>
                <input type="text" class="form-control" placeholder="Entrer votre type d'abonnement" id="typeabonnement">
            </div>
        </div><!--end col-->
        <div class="col-6">
            <div class="mb-3">
                <label for="Solde" class="form-label">Solde</label>
                <input type="text" class="form-control" placeholder="Entrer votre solde" id="solde">
            </div>
        </div><!--end col-->
        <div class="col-12">
            <div class="mb-3">
                <label for="StudentId" class="form-label">Nom d'étudiant</label>
                <select id="studentId" class="form-select mb-3">
                    <option value="">Choisi Nom d'étudiant</option>
                    @foreach (var student in ViewBag.StudentId)
                    {
                        <option value="@student.Id">@student.Nom</option>
                    }
                </select>
            </div>
        </div><!--end col-->
        <div class="col-12">
            <div class="checkbox-grid">
                @foreach (var line in ViewBag.Lines)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="SelectedLineIds" type="checkbox" id="@("inlineCheckbox" + line.ID_Line)" value="@line.ID_Line">
                        <input type="hidden" name="SelectedLineNums" value="@line.NumLine" />
                        <label class="form-check-label" for="@("inlineCheckbox" + line.ID_Line)">@line.NumLine</label>
                    </div>
                }
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-12">
            <div class="text-end">
                <button type="button" class="btn btn-primary" onclick="addAbonnement()">Ajouter Abonnement</button>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</form>

<div id="abonnementContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


